/* BEFORE AND AFTER */
* {
    box-sizing:border-box
  }

  @font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/helvetica-bold.woff);;
    font-weight: 700;
    font-style:normal;
  }

  @font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/helvetica-light.woff);;
    font-weight: 300;
    font-style:normal;
  }
  
  .main {
      line-height: 1.4;
      font-family: Helvetica Neue;
      font-weight: 300;
  }
  .header-section {
    color: #000000;
    text-align:left;
    font-family: sans-serif;
    margin-bottom:0;
    font-size: 20px;
  }

  h1 {
    font-size: 28px;
    font-family: Helvetica Neue;
      font-weight: 700;
      line-height: 1.1;
  }

  h2 {
    font-size: 18px;
    font-family: Helvetica Neue;
      font-weight: 700;
      margin-bottom: 10px;
  }

  p {
    margin-top: 5px;
  }
  
.descriptors {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .pill-descriptor {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 6px 10px 4px;
    border-radius: 3px;
    background-color: #ffc7ef;
    font-size: 12px;
    line-height: 1.1;
  }
  

  .line {
    width:100px;
    height:1px;
    margin:20px auto 40px auto;
    border-bottom:1px solid white;
  }
  
  img {
    width:100%;
    display:block;
  }
  
  .text-center {
    text-align: center;
  }

  .container {
    width:100%;
    display:block;
    margin: 0px auto;
    padding: 0 20px;
  }
  
  #before-after-slider {
    width:100%;
    position:relative;
    overflow:hidden;
    /* border:3px solid white; */
  }
  
  #after-image {
    display:block
  }
  
  .after-text, .before-text {
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 11;
    padding: 5px 9px;
    font-size: 11px;
    border-radius: 3px;
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    text-transform: uppercase;
  }
  
  .before-text {
    position: absolute;
    left: 4px;
    bottom: 4px;
  }
  
  .after-text {
    position: absolute;
    right: 4px;
    bottom: 4px;
  }
  
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  
  .image-switcher-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
  }
  
  .thumbnail-container {
    max-width: 100px;
  }
  
  .thumbnail-container.active {
    outline: 2px solid #000000;
    outline-offset: 3px;
    transition: all 0.1s ease-out;
  }
  
  #before-image {
    position:absolute;
    height:100%;
    width:50%;
    top:0;
    left:0;
    overflow:hidden;
    z-index:2;
  }
  
  #resizer {
    position:absolute;
    display:flex;
    align-items:center;
    z-index:10;
    top:0;
    left:50%;
    height:100%;
    width:2px;
    background:white;
    /*Stop vertical scrolling on touch*/
    -ms-touch-action: pan-y;
      touch-action: pan-y;
  }
  
  .resizer-icon {
    position: absolute;
    z-index: 10;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
      z-index: 4;
      top: auto;
      bottom: 50px;
      left: auto;
      right: -87px;
      margin: 0 0;
      width: 180px;
      -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px)
  }
  
  
  #resizer:after {
    font-weight:900;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    position:absolute;
    margin: 0 0 0 -22px;
    width:40px;
    height:40px;
    border-radius:50%;
    border:3px solid white;
  
  }
  
  @media screen and (min-width: 1000px) {
      .line {
      width:100px;
      height:1px;
      margin:20px auto 40px auto;
      border-bottom:1px solid white;
      }
  
      img {
      width:100%;
      display:block;
      }
  
      .container {
      width:50%;
      max-width: 500px;
      display:block;
      margin:30px auto;
      }
  
      #before-after-slider {
      width:100%;
      position:relative;
      overflow:hidden;
      border:3px solid white;
      }
  
      #after-image {
      display:block
      }
  
      .show {
      display: block;
      }
  
      .hide {
      display: none;
      }
  
      .image-switcher-container {
      display: flex;
      justify-content: center;
      gap: 12px;
      align-items: center;
      padding: 10px;
      margin: 0 auto;
      }
  
      .thumbnail-container {
          max-width: 120px;
      }
  
      #resizer:after {
      font-weight:900;
      display:flex;
      justify-content:center;
      align-items:center;
      color:white;
      position:absolute;
      margin: 0 0 0 -22px;
      width:40px;
      height:40px;
      border-radius:50%;
      border:3px solid white;
  
      }
  }
  